<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageConnectionString" value="Endpoint=sb://igkservicebusnamespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=GHZlmDFmSFOd35XcM+2XAZnvh+QWRJ/gXStYATo+H8U=" />
    </appSettings>
</configuration>