<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageConnectionString" value="Endpoint=sb://igkservicebusnamespace.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=2fX9kI+oC65OTxH+LaODLjksj2Y86KHte0TsVUtzJjc=" />
    </appSettings>
</configuration>