<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=igkqueuestorage;AccountKey=bIrVS0B7lNrewQqya2KmccyejRzp3N0WFJYYWp33rYs8vNBTZS2snKbrKssC7tW+OtgF7BB+pveh21LxHD+9Mw==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>